@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-family: 'raleway';
  background: #333;
  color: #eaeaea;  
}

body {
  padding: 20px;
}

canvas {
  display: block;
  background: #000;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
