@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding: 20px;
  font-family: 'raleway';
}

canvas {
  display: block;
  background: #000;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
